<div class="row">
  <div class="scp-breadcrumb shadow-bottom">
    <ul class="breadcrumb ">
      <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a [routerLink]="['/home']"> Home</a>
      </li>
      <li>
        <a>Class</a>
      </li>
      <li class="active">Create Exam </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
      <div class="panel panel-default shadow-all">
          <div class="panel-heading">Add Exam</div>
         
          <div class="panel-body">
              <form [formGroup]='ExamForm' (ngSubmit)='save()' novalidate>
              
                  <div class="form-group">
                    <label>Select Exam</label>
                    <select  class="form-control input-sm"  formControlName="examTitle" >
                      <option value="" disabled>Select Class</option>
                    <option *ngFor="let exam of examTitleData" [value]="exam.id">{{exam.title_name}}</option>
                  </select>
                  <div *ngIf=" (examTitle.dirty || isSubmitted) && examTitle.invalid" class=" error-msg">
                      <span class="error-msg" *ngIf="examTitle.errors.required">Select Title</span>
                  </div>
                </div>

                <div class="form-group">
                  <label>Exam Start Date Time</label>
                  <input  type="datetime-local" class="form-control input-sm"  formControlName="startDate" >
                      <div *ngIf=" (startDate.dirty || isSubmitted) && startDate.invalid" class=" error-msg">
                          <span class="error-msg" *ngIf="startDate.errors.required">Enter Exam Start Date Time</span>
                         
                        
                      </div>
              </div>

              <div class="form-group">
                <label>Exam End Date Time</label>
                <input  type="datetime-local" class="form-control input-sm"  formControlName="endDate" >
                <div *ngIf=" (endDate.dirty || isSubmitted) && endDate.invalid" class=" error-msg">
                    <span class="error-msg" *ngIf="endDate.errors.required">Enter Exam End Date Time</span>
                   
                  
                </div>
            </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <button class="btn btn-primary btn-block" type="submit" [disabled]="!ExamForm.valid">
                              Add Exam</button>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <button class="btn btn-primary btn-block" type="reset">
                              Reset</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>

  </div>
  <div class="col-lg-8">
      <div class="panel panel-default shadow-all" style="width:100%">
          <div class="panel-heading">
              <h3 class="panel-title">Exam List</h3>
           
          </div>

          <div class="panel-body">

            <ag-grid-angular 
            style="width: 100%; height: 500px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [enableFilter]="true"
            [floatingFilter]="true"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [pagination]="true"
            [paginationPageSize]="10"
            (rowClicked)="onRowClicked($event)"
        
            >
          </ag-grid-angular>
        <p>For Sorting The column Please Click on Column Header. Pagination Button is on Bottom of Data grid with page Number and Number of Records.</p>
          </div>
      </div>
  </div>
</div>

