<div class="row">
  <div class="scp-breadcrumb shadow-bottom">
    <ul class="breadcrumb ">
      <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a [routerLink]="['/home']"> Home</a>
      </li>
      <li>
        <a>Class</a>
      </li>
      <li class="active">Topic Question Setup </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default shadow-all">
      <div class="panel-heading">Add Question</div>

      <div class="panel-body">
        <form [formGroup]='topicForm' (ngSubmit)='save()'  novalidate>
          <!-- (ngSubmit)='save()' -->
          <div class="form-group">
            <label>Class Name <span class="error">*</span></label>
            <select class="form-control input-sm" formControlName="class_name"
              (change)="getAllSubject($event.target.value)">
              <option value="" disabled>Select Class</option>
              <option *ngFor="let classdata of allClass" [value]="classdata.id">{{classdata.name}}</option>
            </select>
            <div *ngIf=" (class_name.dirty || isSubmitted) && class_name.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="class_name.errors.required">Select Class</span>

            </div>
          </div>

          <div class="form-group">
            <label>Subject Name <span class="error">*</span></label>
            <select class="form-control input-sm" formControlName="subject_name" 
            (change)="getAllChapter($event.target.value)">
              <option value="" disabled>Select Subject</option>
              <option *ngFor="let subject of allSubject" [value]="subject.subject_id">{{subject.subject_name}}</option>
            </select>
            <div *ngIf=" (subject_name.dirty || isSubmitted) && subject_name.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="subject_name.errors.required">Select Subject</span>

            </div>
          </div>


          <div class="form-group">
            <label>Chapter Name <span class="error">*</span></label>
            <select  (change)="getVideoDropDown($event.target.value)" class="form-control input-sm" formControlName="chapter_name">
              <option value="" disabled>Select Chapter</option>
              <option *ngFor="let chapter of allChapter" [value]="chapter.id">{{chapter.chapter_name}}</option>
            </select>
            <div *ngIf=" (chapter_name.dirty || isSubmitted) && chapter_name.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="chapter_name.errors.required">Select Chapter</span>

            </div>
          </div>

          
          <div class="form-group">
            <label>Video Name <span class="error">*</span></label>
            <select class="form-control input-sm" formControlName="video_id">
              <option value="" disabled>Select Video</option>
              <option *ngFor="let video of allVideoDrop" [value]="video.video_id">{{video.video_title}}</option>
            </select>
            <div *ngIf=" (video_id.dirty || isSubmitted) && video_id.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="video_id.errors.required">Select Video</span>

            </div>
          </div>
          <div class="form-group">
            <label>Question</label>
    
            <textarea class="form-control input-sm" formControlName="question"></textarea>
            <div *ngIf=" (question.dirty || isSubmitted) && question.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="question.errors.required">Enter Question</span>
            </div>
          </div>
          <div class="form-group">
            <label>Option A</label>
            <input type="text" class="form-control input-sm" formControlName="option1">
            <div *ngIf=" (option1.dirty || isSubmitted) && option1.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="option1.errors.required">Enter Option A</span>
            </div>
          </div>
          <div class="form-group">
            <label>Option B</label>
            <input type="text" class="form-control input-sm" formControlName="option2">
            <div *ngIf=" (option2.dirty || isSubmitted) && option2.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="option2.errors.required">Enter Option B</span>
            </div>
          </div>
          <div class="form-group">
            <label>Option C</label>
            <input type="text" class="form-control input-sm" formControlName="option3">
            <div *ngIf=" (option3.dirty || isSubmitted) && option3.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="option3.errors.required">Enter Option C</span>
            </div>
          </div>
          <div class="form-group">
            <label>Option D</label>
            <input type="text" class="form-control input-sm" formControlName="option4">
            <div *ngIf=" (option4.dirty || isSubmitted) && option4.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="option4.errors.required">Enter Option D</span>
            </div>
          </div>
          <div class="form-group">
            <label>Select Answer</label>
            <select class="form-control input-sm" formControlName="answer">
              <option value="" disabled>Select Answer</option>
              <option value="1" >Option A</option>
              <option value="2" >Option B</option>
              <option value="3" >Option C</option>
              <option value="4">Option D</option>
            
            </select>
            <div *ngIf=" (answer.dirty || isSubmitted) && answer.invalid" class=" error-msg">
              <span class="error-msg" *ngIf="answer.errors.required">Select Answer</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <button class="btn btn-primary btn-block" type="submit" [disabled]="!topicForm.valid">
                Add Question</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <button class="btn btn-primary btn-block" type="reset">
                Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="col-lg-8">
    <div class="panel panel-default shadow-all" style="width:100%">
      <div class="panel-heading">
        <h3 class="panel-title">Exam List</h3>

      </div>

      <div class="panel-body">

        <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham" [enableSorting]="true"
          [enableFilter]="true" [floatingFilter]="true" [rowData]="rowData" [columnDefs]="columnDefs"
          [pagination]="true" [paginationPageSize]="10" (rowClicked)="onRowClicked($event)">
        </ag-grid-angular>
        <p>For Sorting The column Please Click on Column Header. Pagination Button is on Bottom of Data grid with page
          Number and Number of Records.</p>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" data-backdrop="static"
  >
    <div class="modal-dialog">
        <div class="modal-content">
               
          <form [formGroup]='edittopicForm' (ngSubmit)='updateQuestion()'  novalidate>
            <!-- (ngSubmit)='save()' -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              <h4 class="modal-title" id="Heading">Update Question</h4>
             
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label>Class Name <span class="error">*</span></label>
              <input type="text" readonly class="form-control input-sm" formControlName="editclass_name">
            
              <div *ngIf=" (editclass_name.dirty || isSubmitted) && editclass_name.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editclass_name.errors.required">Select Class</span>
  
              </div>
            </div>
  
            <div class="form-group">
              <label>Subject Name <span class="error">*</span></label>
              <input type="text" readonly class="form-control input-sm" formControlName="editsubject_name">
             
              <div *ngIf=" (editsubject_name.dirty || isSubmitted) && editsubject_name.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editsubject_name.errors.required">Select Subject</span>
  
              </div>
            </div>
  
<!--   
            <div class="form-group">
              <label>Chapter Name <span class="error">*</span></label>
              <input type="text" readonly class="form-control input-sm" formControlName="editchapter_name">
            
              <div *ngIf=" (editchapter_name.dirty || isSubmitted) && editchapter_name.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editchapter_name.errors.required">Select Chapter</span>
  
              </div>
            </div> -->
  
            
            <div class="form-group">
              <label>Video Name <span class="error">*</span></label>
              <input type="hidden" class="form-control input-sm" formControlName="editquestion_id">
              <input type="text" readonly class="form-control input-sm" formControlName="editvideo_name">
         
              <div *ngIf=" (editquestion_id.dirty || isSubmitted) && editquestion_id.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editquestion_id.errors.required">Select Video</span>
  
              </div>
            </div>
            <div class="form-group">
              <label>Question</label>
      
              <textarea class="form-control input-sm" formControlName="editquestion"></textarea>
              <div *ngIf=" (editquestion.dirty || isSubmitted) && editquestion.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editquestion.errors.required">Enter Question</span>
              </div>
            </div>
            <div class="form-group">
              <label>Option A</label>
              <input type="text" class="form-control input-sm" formControlName="editoption1">
              <div *ngIf=" (editoption1.dirty || isSubmitted) && editoption1.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editoption1.errors.required">Enter Option A</span>
              </div>
            </div>
            <div class="form-group">
              <label>Option B</label>
              <input type="text" class="form-control input-sm" formControlName="editoption2">
              <div *ngIf=" (editoption2.dirty || isSubmitted) && editoption2.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editoption2.errors.required">Enter Option B</span>
              </div>
            </div>
            <div class="form-group">
              <label>Option C</label>
              <input type="text" class="form-control input-sm" formControlName="editoption3">
              <div *ngIf=" (editoption3.dirty || isSubmitted) && editoption3.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editoption3.errors.required">Enter Option C</span>
              </div>
            </div>
            <div class="form-group">
              <label>Option D</label>
              <input type="text" class="form-control input-sm" formControlName="editoption4">
              <div *ngIf=" (editoption4.dirty || isSubmitted) && editoption4.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editoption4.errors.required">Enter Option D</span>
              </div>
            </div>
            <div class="form-group">
              <label>Select Answer</label>
              <select class="form-control input-sm" formControlName="editanswer">
                <option value="" disabled>Select Answer</option>
                <option value="1" >Option A</option>
                <option value="2" >Option B</option>
                <option value="3" >Option C</option>
                <option value="4">Option D</option>
              
              </select>
              <div *ngIf=" (editanswer.dirty || isSubmitted) && editanswer.invalid" class=" error-msg">
                <span class="error-msg" *ngIf="editanswer.errors.required">Select Answer</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <button class="btn btn-warning btn-block" type="submit" [disabled]="!edittopicForm.valid">
                  Edit Question</button>
              </div>
            
              </div>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
