<div class="row">
    <div class="scp-breadcrumb shadow-bottom">
      <ul class="breadcrumb ">
        <li>
          <i class="fa fa-home" aria-hidden="true"></i>
          <a [routerLink]="['/home']"> Home</a>
        </li>
        <li>
          <a>Class</a>
        </li>
        <li class="active">Create Exam Title</li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default shadow-all">
            <div class="panel-heading">Add Exam Title</div>
           
            <div class="panel-body">
                <form [formGroup]='ExamTitleForm' (ngSubmit)='save()' novalidate>
                  <div class="form-group">
                    <label>Select Class</label>
                    <select class="form-control input-sm" formControlName="class_id">
                      <option value="" disabled>Select Class</option>
                      <option *ngFor="let class of classData" [value]="class.id">{{class.name}}</option>
                    </select>
                    <div *ngIf=" (class_id.dirty || isSubmitted) && class_id.invalid" class=" error-msg">
                      <span class="error-msg" *ngIf="class_id.errors.required">Select Title</span>
                    </div>
                  </div>
                    <div class="form-group">
                      <label>Exam Title</label>
                      <input type="text" class="form-control input-sm" required placeholder="Exam Title" formControlName="examTitle" >
                      <div *ngIf=" (examTitle.dirty || isSubmitted) && examTitle.invalid" class=" error-msg">
                          <span class="error-msg" *ngIf="examTitle.errors.required">Enter Exam Title</span>
                          <span class="error-msg" *ngIf="examTitle.errors.minlength">Exam Title should be minimum {{examTitle.errors.minlength.requiredLength}} character</span>
                          <span class="error-msg" *ngIf="examTitle.errors.maxlength">Exam Title should be Maximum {{examTitle.errors.maxlength.requiredLength}} character</span>
                        
                      </div>
                  </div>
                     <div class="form-group">
                  <label>Exam Start Date Time</label>
                  <input  type="datetime-local" class="form-control input-sm"  formControlName="startDate" >
                      <div *ngIf=" (startDate.dirty || isSubmitted) && startDate.invalid" class=" error-msg">
                          <span class="error-msg" *ngIf="startDate.errors.required">Enter Exam Start Date Time</span>
                         
                        
                      </div>
              </div>

              <div class="form-group">
                <label>Exam End Date Time</label>
                <input  type="datetime-local" class="form-control input-sm"  formControlName="endDate" >
                <div *ngIf=" (endDate.dirty || isSubmitted) && endDate.invalid" class=" error-msg">
                    <span class="error-msg" *ngIf="endDate.errors.required">Enter Exam End Date Time</span>
                   
                  
                </div>
            </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <button class="btn btn-primary btn-block" type="submit" [disabled]="!ExamTitleForm.valid">
                                Add Exam Title</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <button class="btn btn-primary btn-block" type="reset">
                                Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-8">
        <div class="panel panel-default shadow-all" style="width:100%">
            <div class="panel-heading">
                <h3 class="panel-title">Exam Title List</h3>
             
            </div>
  
            <div class="panel-body">
  
              <ag-grid-angular 
              style="width: 100%; height: 500px;" 
              class="ag-theme-balham"
              [enableSorting]="true"
              [enableFilter]="true"
              [floatingFilter]="true"
              [rowData]="rowData" 
              [columnDefs]="columnDefs"
              [pagination]="true"
              [paginationPageSize]="10"
              (rowClicked)="onRowClicked($event)"
        
              >
            </ag-grid-angular>
          <p>For Sorting The column Please Click on Column Header. Pagination Button is on Bottom of Data grid with page Number and Number of Records.</p>
            </div>
        </div>
    </div>
  </div>

  
<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" data-backdrop="static"
>
  <div class="modal-dialog">
      <div class="modal-content">
              <alert></alert>
          <form [formGroup]='EditExamForm' (ngSubmit)='updateExam()'  novalidate>
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                  <h4 class="modal-title" id="Heading">Update Exam</h4>
                 
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label>Class</label>
                      <input class="form-control " type="text" readonly required formControlName="editClass" readonly>
                      <input class="form-control " type="hidden" readonly required formControlName="editId" readonly>
                  </div>
                 
                  <div class="form-group">
                      <label>Exam Title</label>
                      <input type="text" class="form-control" readonly formControlName="editTitle">
                      <div *ngIf=" (editTitle.dirty || isSubmitted) && editTitle.invalid" class=" error-msg">
                        <span class="error-msg" *ngIf="editTitle.errors.required">Enter Exam Title</span>
                        <span class="error-msg" *ngIf="editTitle.errors.minlength">Exam Title should be minimum {{editTitle.errors.minlength.requiredLength}} character</span>
                        <span class="error-msg" *ngIf="editTitle.errors.maxlength">Exam Title should be Maximum {{editTitle.errors.maxlength.requiredLength}} character</span>
                     
                    </div>
                  </div>
                  <div class="form-group">
                      <label>Exam Start Date Time</label>
                      <input type="datetime-local" class="form-control"  formControlName="editStartTime">
                      <div *ngIf=" (editStartTime.dirty || isSubmitted) && editStartTime.invalid" class=" error-msg">
                        <span class="error-msg" *ngIf="editStartTime.errors.required">Enter Exam Start Date Time</span>
                        <span class="error-msg" *ngIf="editStartTime.errors.minlength">Exam Start Date Time should be minimum {{editStartTime.errors.minlength.requiredLength}} character</span>
                        <span class="error-msg" *ngIf="editStartTime.errors.maxlength">Exam Start Date Time should be Maximum {{editStartTime.errors.maxlength.requiredLength}} character</span>
                     
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Exam End Date Time</label>
                    <input type="datetime-local" class="form-control"  formControlName="editEndTime">
                    <div *ngIf=" (editEndTime.dirty || isSubmitted) && editEndTime.invalid" class=" error-msg">
                      <span class="error-msg" *ngIf="editEndTime.errors.required">Exam End Date Time</span>
                      <span class="error-msg" *ngIf="editEndTime.errors.minlength">Exam End Date Time should be minimum {{editEndTime.errors.minlength.requiredLength}} character</span>
                      <span class="error-msg" *ngIf="editEndTime.errors.maxlength">Exam End Date Time should be Maximum {{editEndTime.errors.maxlength.requiredLength}} character</span>
                   
                  </div>
                </div>
              </div>
              <div class="modal-footer ">
                  <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;" [disabled]="!EditExamForm.valid">
                      <span class="glyphicon glyphicon-ok-sign"></span> Update</button>
              </div>
          </form>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
  
  